<form class="login100-form"
      [formGroup]="myForm"
      (ngSubmit)="register()"
      autocomplete="off">

    <span class="login100-form-title p-b-49">
        Login
    </span>

    <div class="wrap-input100 m-b-23">
        <span class="label-input100">Correo</span>
        <input class="input100"
               formControlName="email"
               type="email"
               placeholder="name@exmple.com">
               <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched"
               class="error-message">
               Por favor ingresa un correo electrónico válido.</div>
    </div>

    <div class="wrap-input100">
        <span class="label-input100">Contraseña</span>
        <input class="input100"
               formControlName="password"
               type="password"
               placeholder="Ingrese su contraseña">
               <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched"
               class="error-message">
                La contraseña debe tener al menos 6 caracteres.</div>
    </div>


    <div class="wrap-input100">
      <span class="label-input100">Nombre</span>
      <input class="input100"
             formControlName="name"
             type="name"
             placeholder="Ingrese su Nombre">
             <div *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched"
             class="error-message">
             Campo Requerido</div>
    </div>

    <div class="text-right p-t-8 p-b-31"></div>

    <div class="container-login100-form-btn">
      <div class="wrap-login100-form-btn">
          <div class="login100-form-bgbtn"></div>
          <button class="login100-form-btn"
                  type="submit">
              Crear cuenta
          </button>
      </div>
  </div>

  <div class="flex-col-c p-t-60">
    <span class="txt1 p-b-17">
        ¿Ya tienes cuenta?
    </span>

    <a routerLink="/auth/login" class="txt2">
        Ingresa aquí
    </a>
</div>
</form>
